{%extends "common/parent.tpl"%}

{%block title%}PC roam test{%endblock%}

{%block top%}
<style type="text/css">
        form{
            width: 700px;
            margin: 0 auto;
        }
        .row{
            margin: 10px 0;
        }
        textarea{
            width: 100%;
            height: 100px;
        }
        #msg{color: #28b;font-weight: 900;}
</style>
{%endblock%}

{%block content%}
{%set menuIndex=6%}
{%include "common/menu.tpl"%}
    <form id="form">
    <div class="row" id="msg"></div>
            <div class="row">
                <select id="type">
                    <option value="t">token</option>
                    <option value="c">cookie</option>
                </select>
            </div>
            <div>
                <textarea id="token"></textarea>
            </div class="row">
            <div class="row">
                <button>Check</button>
            </div>
        </form>
{%endblock%}

{%block bottom%}
<script src="dist/local/js/passport-core.js"></script>
    <script type="text/javascript">
 PassportSC({
        appid:1120,
        redirectUrl:location.protocol + '//' + location.host + '/xjump.html'
    }).on('pcroamsuccess',function (e) {
        document.getElementById('msg').innerHTML = 'token check succeed';
    }).on('pcroamfailed',function (e) {
        document.getElementById('msg').innerHTML = 'token check failed';
    });

document.getElementById('form').onsubmit = function(e){
    e.preventDefault();
    e.returnValue = false;

    var $select = document.getElementById('type');
    var type = $select.options[$select.selectedIndex].value;
    var token = document.getElementById('token').value;
    PassportSC.checkToken(type,token);
};
    </script>
{%endblock%}