{%extends "common/parent.tpl"%}

{%block title%}PC roam test{%endblock%}

{%block bodyClass%}body-pcroam{%endblock%}

{%block content%}
{%set menuIndex=6%}
{%include "common/menu.tpl"%}
<form id="form" class="content">
    <div class="row" id="msg">检测token是否有效，该token来自pc浏览器，输入法，用于带入登录态</div>
    <div class="row">
        <label for="type">类型</label>
        <select id="type">
            <option value="pinyint">输入法 gpitok</option>
            <option value="iet">浏览器 token</option>
            <option value="iec">浏览器 cookie</option>
        </select>
    </div>
    <div>
        <label for="token">TOKEN/COOKIE</label>
        <textarea id="token">cLNfjivuXYp/MFT4LsqOtMBreljWGFlfpO7dKGc2PYD1THrEagviBQ8i8vNdYzL97B8V9LXaeaaOlrYBYafbUp0Nx2smvIXg/XmVDi3ybtojWjHSk4g19da0L0yp/EnuHuVUlhP3mXbaAD7GAaA7kvqIsmxNVI8e590FtYKjs3FtF65hn6vnH8g2FKvjKAsIvuBtpt0fs0PvlzPiEFODyMYXNh0bJ7gqRTQSmBdbUWhX3tNTJ70QlMqbyKTR+aqc</textarea>
    </div class="row">
    <div class="row">
        <button type="submit">检测</button>
    </div>
</form>
{%endblock%}

{%block bottom%}
<script src="dist/{{version}}/js/passport-core.js"></script>
    <script type="text/javascript">
 PassportSC({
        appid:1120,
        redirectUrl:location.protocol + '//' + location.host + '/xjump.html'
    }).on('pcroamsuccess',function (e) {
        document.getElementById('msg').innerHTML = 'token 验证成功';
    }).on('pcroamfailed',function (e) {
        document.getElementById('msg').innerHTML = 'token 验证失败';
    });

document.getElementById('form').onsubmit = function(e){
    e.preventDefault();
    e.returnValue = false;

    var $select = document.getElementById('type');
    var type = $select.options[$select.selectedIndex].value;
    console.log(type);
    var token = document.getElementById('token').value;
    PassportSC.checkPCToken(type,token);
};
    </script>
{%endblock%}