{%extends "common/parent.tpl"%}


{%block title%}Passport Pop Test{%endblock%}


{%block bodyClass%}body-test{%endblock%}

{%block content%}

{%set menuIndex=5%}
{%include "common/menu.tpl"%}
<div class="content">
    <div class="markd">
        <span>允许省略构建登录对话框，直接弹出</span>
        <button>弹出</button>
    </div>
<pre>
<span class="orange">PassportSC</span>({
    appid:1120,
    redirectUrl:location.protocol + '//' + location.host + '/jump.html'
}).<span class="cyan">on</span>('<b>loginsuccess loginfailed 3rdloginsuccess</b>',function(e){
    if('loginsuccess' === e.type)...
}).<span class="cyan">requirePlugins</span>('<b>pop</b>',function(){
    <span class="orange">this</span>.pop({
        <span class="red">skin</span>:'wan',
        <span class="red">mask</span>:true,//show a half-opacity background
        <span class="red">maskClickClose</span>:true,//click the half-opacity bg to click the dialog
        //we do not need 'container'
        <span class="red">trdRedirectUrl</span>:location.protocol + '//' + location.host + '/static/popup.html'
    });
});
</pre>
</div>
{%endblock%}

{%block bottom%}
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script src="dist/{{version}}/js/passport-core.js"></script>
<script>
 PassportSC({
        appid:1120,
        redirectUrl:location.protocol + '//' + location.host + '/jump.html'
    });

$('button').click(function(e){
        PassportSC.requirePlugins('pop','DD_belatedPNG','pop',function(){
            PassportSC.pop({
                skin:'wan',
                mask:true,
                maskClickClose:true,
                trdRedirectUrl:location.protocol + '//' + location.host + '/popup.html'
        });
});
});
</script>
{%endblock%}

