<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>
            Specification
        </title>
        <meta name="author" content="yinyong@sogou-inc.com"/>
        <link rel="stylesheet" href="css/main.css" type="text/css"/>
    </head>
    <body class="flex">
        <header class="f-f f-m">
            <div class="logo">S</div>
            <div class="tit f-1 tc">Development Specification</div>
            <span class="alpha">@version@</span>
        </header>
        <nav>
            <ul class="f-f">
                <li class="f-1 tc"><a class="bl" href="/">Index</a></li>
                <li class="f-1 tc"><a class="bl" target="_blank" href="/doc/">Documentation</a></li>
                <li class="f-1 tc"><a class="bl hover" href="/spec.html">Specification</a></li>
                <li class="f-1 tc"><a class="bl" target="_blank" href="/test.html">Code Example</a></li>
                <li class="f-1 tc"><a class="bl" target="_blank" href="/pop.html">Pop Plugin</a></li>
            </ul>
        </nav>
        <div class="article">
            <h4>编码规范</h4>
            <ul>
                <li>代码中使用内部 console 的一系列方法，在发布版中，不会输出任何内容</li>
                <li>需要输出到 API 的方法和变量使用 <a href="http://github.com/yanni4night/jsdoc">yjsdoc</a> 规范进行注释</li>
                <li>全部使用严格模式(strict)，通过 jshint 的检查</li>
                <li>版本发布后不允许进行任何更改，仅按照<a href="http://semver.org/lang/zh-CN/">语义化版本2.0.0</a>规范进行版本递增，每个发布版的更新均需要写入到 README 中</li>
                <li>原则上，每天最多发布一版，同一天的再发布版，使用 <q>-fix(ed)</q> 后缀</li>
                <li>内部函数调用时的参数类型错误均抛出异常</li>
            </ul>
            <h4>插件规范</h4>
            <ul>
                <li>
                    异步插件均使用内部的事件进行回调通知，而非使用 script 元素的完成加载事件，这样一方面避免了 script 标签的事件在部分浏览器下引起的兼容性问题，也支持了将来的插件具有内部异步执行逻辑的情况
                </li>
                <li>
                    所有插件的名称大小写敏感，并必须注册使得在 getPreDefinedPlugins 方法中能够返回，尝试加载不存在的插件将会抛出异常
                </li>
                <li>
                    插件初始化后必须以 <q>pluginloaded</q> 事件通知，且事件中必须设置当前插件名
                </li>
                <li>
                    允许插件向 <q>PassportSC</q> 对象增加属性和方法，但不得删除或修改
                </li>
                <li>
                    插件源文件位于 src/js/plugin/ 目录下
                </li>
            </ul>
            <h4>皮肤规范</h4>
            <ul>
                <li>
                    每款皮肤包含一个 css 文件与一个 js 文件，和多个图片文件，按照皮肤名在 src/skin 下放置
                </li>
                <li>
                    皮肤(js)加载完成必须触发 <q>skinloaded</q> 事件，并携带其初始入口化函数 <q>init()</q>，系统将在 js 与 css都异步加载完成后携带相关参数调用该函数。
                </li>
                <li>
                    皮肤构建的CSS类名建议但不强制使用 sogou-passport- 前缀，以避免发生冲突
                </li>
                <li>
                    图片资源应在css中使用相对路径，js 中如需要使用 <a href="http://jquery.com">jQuery</a> ,可以直接使用插件:
                    <code>
                        PassportSC.requirePlugins('jQuery')
                    </code>
                    该插件可复用当前页已经存在的jQuery。
                </li>
            </ul>
        </div><!--article-->
        <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'sogou-ufo'; 

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        <hr/>
        <footer class="f-f f-c f-m">
            <span><a href="http://ufo.sogou-inc.com">ufo</a>(C) 2014 All Rights Reserved</span> |
            <a href="http://git.ufo.sogou-inc.com/yinyong/passport">git.ufo</a> | 
            <a href="mailto:yinyong@sogou-inc.com">contact</a>
        </footer>
        <div id="ppcontainer"></div>
        <script type="text/javascript">
        
    </body>
</html>