<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Passport Test</title>
<meta name="author" content="yanni4night@gmail.com"/>
<style>
    body{
        padding: 0;
        margin: 0;
        background: #333;
        color: #fff;
    }
    .passport-dialog{
        width: 400px;
        position: fixed;
        _position:absolute;
        left: 50%;
        top:100px;
        margin-left: -200px;
    }
    pre{
        background: #000;
        padding: 1em;
        font:20px/1.5 "Courier New",Helvetica,Arial,sans-serif;
    }
    .orange{
        color: orange;
    }
    .cyan{
        color: cyan;
    }
    .yellow{
        color: yellow;
    }
    .red{
        color: red;
    }
    button{
        padding: 0.2em 1em;
        text-align: center;
        height: 25px;;
        background: #eee;
        border: 1px solid #fff;
        border-radius: 10px;
        margin: 5px;
    }
</style>
</head>
<body>
    <p>选择皮肤与库加载模式，点击“构建”按钮，将会自动生成一个登录对话框。</p>
    <p id="msg"></p>
    <form action="#" id="form">
        <div>
            <label for="skin">皮肤</label>
            <input type="radio" name="skin" id="wan" value="wan"/><label for="wan">wan</label>
            <input type="radio" name="skin" id="default" value="default"/><label for="default">default</label>
        </div>
        <div>
            <label for="skin">模式</label>
            <input type="radio" name="mode" id="async" value="async"/><label for="async">异步</label>
            <input type="radio" name="mode" id="sync" value="sync"/><label for="sync">同步</label>
        </div>
        <div style="display:none" id="submitWrap">
            <button type="submit">构建</button>
        </div>
        <div>
            <button type="button" onclick="javascript:location.reload()">刷新页面，重新初始化</button>
        </div>
    </form>
<pre id="demo-sync" style="display:none">
PassportSC({
    appid:1120,
    redirectUrl:location.protocol + '//' + location.host + '/jump.html'
})
.on('canvasclosing',function(e){
    //close the container
})
.on('drawcomplete',function(e){
    //css&amp;js loaded
})
.on('loginstart loginsuccess loginfailed 3rdlogincomplete',function(e){
    //reload or show something
})
.draw({
    skin:'default',//'wan'
    container:document.getElementById('passport-dialog'),//Where the dialog html should be injected in
    trdRedirectUrl:location.protocol + '//' + location.host + '/popup.html'
});
</pre>
<pre id="demo-async" style="display:none">
var PassportSC = {
    onApiLoaded:function(){
        //use "PassportSC.init()" instead of "PassportSC()" under async mode
        this.init({
            appid:1120,
            redirectUrl:location.protocol + '//' + location.host + '/jump.html'
        })
        .on('canvasclosing',function(e){
            //close the container
        })
        .on('drawcomplete',function(e){
            //css&amp;js loaded
        })
        .on('loginstart loginsuccess loginfailed 3rdlogincomplete',function(e){
            //reload or show something
        })
        .draw({
            skin:'default',//'wan'
            container:document.getElementById('passport-dialog'),//Where the dialog html should be injected in
            trdRedirectUrl:location.protocol + '//' + location.host + '/popup.html'
        });
    }//onApiLoaded
};
</pre>
    <div class="passport-dialog" id="passport-dialog"></div>
</body>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>

<script>
    var skin,mode,loaded;
    var libjs = "dist/@version@/js/passport-core.js";

    $(':radio[name="skin"]').change(function(e){
        skin = this.value;
        $(':radio[name="skin"]').not($(this)).prop('disabled',true);

        if(skin&&mode){
            $('#submitWrap').show();
        }
    });

    $(':radio[name="mode"]').change(function(e){
        mode = this.value;
        
        $(':radio[name="mode"]').not($(this)).prop('disabled',true);
        
     /*var pre =*/ $('pre#demo-'+mode).show();

     /*      pre.html(pre.html().replace(/\b(PassportSC)\b/mg,'<span class="orange">$1</span>').replace(/\b(on|draw|init)\b/mg,'<span class="cyan">$1</span>').replace(/\b(onApiLoaded)\b/mg,'<span class="yellow">$1</span>').replace(/\b(canvasclosing|drawcomplete|loginstart|loginsuccess|loginfailed|3rdlogincomplete)\b/mg,'<span class="red">$1</span>'));*/
        
        if(skin&&mode){
            $('#submitWrap').show();
        }
    });

    function initPassport(PC){
        PC = PC||window.PassportSC;
        PC.init({
            appid:1120,
            redirectUrl:location.protocol + '//' + location.host + '/jump.html'
        }).on('canvasclosing',function(e){
            $('#passport-dialog').hide();
            $('#msg').text(e.type);
        }).on('drawcomplete',function(e){
             $('#passport-dialog').show();
            $('#msg').text(e.type);
        }).draw({
            skin:skin,
            container:document.getElementById('passport-dialog'),
            trdRedirectUrl:location.protocol + '//' + location.host + '/popup.html'
        });
    }

    function loadSync(){
        //use this to simulate sync
        $.getScript(libjs,function(){
            initPassport();
        });
    }

    function loadAsync(){
        window.PassportSC = {
            onApiLoaded:function(){
                initPassport(this);
            }
        };
        var script = document.createElement('script');
        script.async = true;
        script.charset = 'utf-8';
        script.type = 'text/javascript';
        script.src = libjs;
        (document.head||document.getElementsByTagName('head')[0]).appendChild(script);
    }


    $('form').submit(function(e){
        e.preventDefault();
        if(!skin||!mode){
            return alert('必须选择皮肤和模式');
        }

        if(loaded){
            $('#passport-dialog').show();
            return;
        }

        if('async'===mode){
            loadAsync();
        }else{
            loadSync();
        }
        loaded = true;
    });
</script>
</html>
