<!DOCTYPE html>
<html>
<head>
<meta charset="gb2312"/>
<title>Test</title>
<meta name="author" content="yanni4night@gmail.com"/>
<style>
    body{
        padding: 0;
        margin: 0;
        background: #333;
    }
    .passport-dialog{
        width: 400px;
        position: fixed;
        _position:absolute;
        left: 50%;
        top:100px;
        margin-left: -200px;
    }
</style>
</head>
<body>
<button onclick="javascript:load();">Load</button>    
    <div class="passport-dialog" id="passport-dialog"></div>
</body>
<script type="text/javascript" src="dist/@version@/js/passport-core.js"></script>
<script>
    window.PassportSC({
        appid:1120,
        redirectUrl:location.protocol + '//' + location.host + '/jump.html'
    });

    function load(){
        PassportSC.draw({
            container:document.getElementById('passport-dialog'),
            trdRedirectUrl:location.protocol + '//' + location.host + '/popup.html'
        });
    }
</script>
</html>
