@charset 'utf-8';
@import url('common.less');
@import url('header.less');


.body-index{
    .article{
        h4{font-size: 24px;}
        h4::before{content:">> ";}
        p{text-indent: 2em;}
        .q::before{content: "Question:"}
        .q:first-letter{font-size: 50px;}
        .q{
            border: #28b 3px solid;
            border-radius: 5px;
            text-indent: 0;
            display: block;
            text-decoration: none;
            color: #28b;
            margin: 1em 0 1em 1em;
        }
        .q:hover{
            background: #ececec;
        }
        table{
            img{
                max-width: 300px;
                filter: gray;
                -webkit-filter:grayscale(1);
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                -ms-filter:grayscale(1);
                filter:grayscale(1);
            }
            td,th{
                border:1px solid #ccc;
                padding: 1em;
                text-align: center;
                vertical-align: middle;
            }
            width: 100%;
            border-collapse: collapse;
        }
        &>code,&>pre{
            display: block;
            border-left: 5px solid #aaa;
            padding-left: 5px;
            background: #f0f0f0;
            margin-left: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        #info{
            font-size: 16px;
            color:#28b;
            font-weight: 900;
            height: 30px;
            line-height: 30px;
        }
        #captcha-img{
            height: 20px;
            vertical-align: middle;
            border: 0;
        }
        #ppcontainer{
            display: none;
        }
        width: @contentWidth;
        margin: 0 auto 10px;
    }
    form {
        label{
            width: 6em;
            display: inline-block;
        }
    }
    
}

.body-test{
    .passport-dialog{
        width: 400px;
        position: fixed;
        _position:absolute;
        left: 50%;
        top:100px;
        margin-left: -200px;
    }
    pre{
        background: #000;
        padding: 1em;
        color: #eee;
        font:20px/1.5 "Courier New",Helvetica,Arial,sans-serif;
    }
    .orange{
        color: orange;
    }
    .cyan{
        color: cyan;
    }
    .yellow{
        color: yellow;
    }
    .red{
        color: red;
    }
    button{
        padding: 0.2em 1em;
        text-align: center;
        height: 25px;
        border-radius: 10px;
        margin: 5px;
    }
    .markd{
        background: #ccc;
    }
}

.body-pcroam{
        .row{
            margin: 10px 0;
        }
        textarea{
            width: 100%;
            height: 100px;
        }
        #msg{color: #28b;font-weight: 900;}
}